<div class="nott-list">
  <%@notifications.map do |noti|%>
    <div onclick="notifyStatus(<%=noti.id%>)" class="<%=is_read(noti)%> notfication-details">
      <div class="noty-user-img">
        <img style="height: 30px;width: 30px" src="<%=profil_pic(noti.sentby)%>" alt="">
      </div>
      <div class="notification-info">
        <h3><%= raw notify(noti)%>.</h3>
        <span><%=time_calculation(noti.created_at)%></span>
      </div>
      <!--notification-info -->
    </div>
  <%end%>
</div>
<style>
.readed{
    background: #f8f9fa !important;
}
.unread{
    background: #d6d6d6 !important
}
</style>
