<section class="cover-sec">
    <img height="300" src="<%=cover_pic(@user)%>" alt="">
    <a id="cover_pic_upload" title=""><i class="fa fa-camera"></i> Change Image</a> 
</section>
<div class="main-section">
    <div class="container">
        <div class="main-section-data">
            <div class="row">
                <div class="col-lg-3">
                    <div class="main-left-sidebar">
                        <div class="user_profile">
                            <div class="user-pro-img">
                                <%if @user.user_detail.present?%>
                                <img style="height: 200px;width: 200px" src="<%=profil_pic(@user)%>" alt="">
                                <a id="img_upload" title=""><i class="fa fa-camera"></i></a> 
                                <%else%>
                                <img style="height: 200px;width: 200px" src="<%=profil_pic(@user)%>" alt="">
                                 <a id="img_upload" title=""><i class="fa fa-camera"></i></a>
                                <%end%>
                                <input class="hidden" type="file" onchange="postfile()" id="profile_pic">
                                <input class="hidden" type="file" onchange="postfile()" id="cover_pic">
                               
                            </div>
                        </div>
                    </div>
                    <style>
                    .hidden{
                        display: none;
                    }
                    </style>
                    <script>
                        document.getElementById('img_upload').onclick = function() {
                            document.getElementById('profile_pic').click();
                        };
                          document.getElementById('cover_pic_upload').onclick = function() {
                            document.getElementById('cover_pic').click();
                        };
                        function postfile(){
                            user_id = "<%= current_user.id%>"
                            profile_pic = document.getElementById("profile_pic").files[0]
                            cover_pic = document.getElementById("cover_pic").files[0]
                            console.log("fdsf", user_id, profile_pic, cover_pic)
                            var formData = new FormData();
                            formData.append("user_id", user_id);
                            formData.append("profile_pic", profile_pic);
                            formData.append("cover_pic", cover_pic);   
                            var data = {user_id: user_id, profile_pic: profile_pic}
                            $.ajax({
                                type: 'POST',
                                url: '/users/profile_update',
                                data: formData,
                                processData: false,
                                contentType: false,
                                success: function (res) {
                                    if (res.data){
                                        window.location.reload();
                                    } else {
                                        alert("Update User profile first")
                                    }
                                }
                            });
                        }
                        </script>
                    <!--main-left-sidebar end-->
                </div>
                <div class="col-lg-6">
                    <div class="main-ws-sec">
                        <div class="user-tab-sec">
                            <h3><%= @user.name%></h3>
                            <div class="star-descp">
                                <span>
                                    <%if @user.user_detail.present?%>
                                    <%= @user.user_detail.designation%>
                                    <br>
                                    <br>
                                    <h4>About me </h4>
                                   <p>
                                    <%= @user.user_detail.about%>
                                    </p>
                                    <%end%>
                                </span>
                            </div>
                        </div>
                    </div>
                    <!--main-ws-sec end-->
                </div>
                <div class="col-lg-3">
                    <div class="right-sidebar">
                        <div class="message-btn">
                            <%if current_user.id == @user.id%>
                            <a href="<%=edit_path%>" title=""><i class="fa fa-pencil"></i> Update</a>
                            <%else%>
                            <%if @status[:is_requested]%>
                            <%if @status[:is_accepted]%>
                            <a title=""><i class="fa fa-check"></i> Friends</a>
                            <%= link_to users_delete_friend_path(@user.id), method: :post do %>
                            <i class="fa fa-times"></i>Delete Friend
                            <% end %>
                            <%# <a title=""><i class="fa fa-check"></i> Delete Friend</a> %>
                            <%else%>
                            <%if @status[:is_send]%>
                            <a title="" class="btn-success"><i class="fa fa-check"></i> Friend Request sent</a>
                            <br>
                            <br>
                            <%= link_to users_cancle_request_path(@user.id), method: :post do %>
                            <i class="fa fa-times"></i>Cancle Request
                            <% end %>
                            <%else%>
                            <%= link_to users_confirm_request_path(@user.id), method: :post do %>
                            <i class="fa fa-plus"></i>Confirm Request
                            <% end %>
                            <br>
                            <br>
                            <%= link_to users_reject_request_path(@user.id), method: :post do %>
                            <i class="fa fa-times"></i>Reject Request
                            <% end %>
                            <%end%>
                            <%end%>
                            <%else%>
                            <%= link_to users_add_friend_path(@user.id), method: :post do %>
                            <i class="fa fa-plus"></i>Add Friend
                            <% end %>
                            <%end%>
                            <%end%>
                        </div>
                    </div>
                    <!--right-sidebar end-->
                </div>
                <section class="companies-info">
                    <div class="container">
                        <div class="company-title">
                            <h3>Friend List</h3>
                        </div>
                        <!--company-title end-->
                        <div class="companies-list">
                            <div class="row">
                                <%@friendlist.where(is_accepted: true).map do |friend|%>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="company_profile_info">
                                        <%if friend.sender_id == @user.id%>
                                        <div class="company-up-info">
                                            <img style="height: 80px; width:80px"
                                                src="<%=profil_pic(friend.recipient)%>" alt="">
                                            <h3><%=friend.recipient.name%></h3>
                                            <h4><%=friend.recipient.created_at.strftime("%D")%></h4>
                                        </div>
                                        <a href="<%= profile_path(friend.recipient.id)%>" title=""
                                            class="view-more-pro">View Profile</a>
                                        <%end%>
                                        <%if friend.recipient_id == @user.id%>
                                        <div class="company-up-info">
                                            <img style="height: 80px; width:80px" src="<%=profil_pic(friend.sender)%>"
                                                alt="">
                                            <h3><%=friend.sender.name%></h3>
                                            <h4><%=friend.sender.created_at.strftime("%D")%></h4>
                                        </div>
                                        <a href="<%= profile_path(friend.sender.id)%>" title=""
                                            class="view-more-pro">View Profile</a>
                                        <%end%>
                                    </div>
                                    <!--company_profile_info end-->
                                </div>
                                <%end%>
                            </div>
                        </div>
                        <br>
                        <br>
                        <div class="company-title">
                            <h3> Postes</h3>
                        </div>
                        <div class="companies-list">
                            <div class="posts-section">
                                <%= render @posts %>
                                <!--posty end-->
                                <!--process-comm end-->
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <!-- main-section-data end-->
    </div>
</div>