<div id="<%=post.id%>" class="post post<%=post.id%>">
    <div style="margin-bottom: 20px;" class="post-bar no-margin">
        <div class="post_topbar">
            <div class="usy-dt">
                <img style="height: 50px;width: 50px" src="<%= profil_pic(post.user)%>" alt="">
                <div class="usy-name">
                    <h3><%=post.user.name.capitalize%></h3>
                    <span><img src="http://gambolthemes.net/workwise_demo/HTML/images/clock.png"
                            alt=""><%=time_calculation(post.created_at)%> ago</span>
                </div>
            </div>
            <div class="ed-opts">
                <%if current_user.present?%>
                  <%if post.user_id == current_user.id%>
                   <a title="" href="javascript:void(0);" onclick="delPost('<%=post.id%>')" class="ed-opts-open"><i class="la la-trash"></i></a>
                  <%end%> 
                <%end%>
            </div>
        </div>
        <div class="epi-sec">
            <ul class="descp">
                <li><img src="http://gambolthemes.net/workwise_demo/HTML/images/icon9.png" alt=""><span>
                        <%=post.location%>
                        </span></li>
            </ul>
        </div>
        <div class="job_descp">
            <%if post.user.user_detail.present?%>
            <h3><%=post.user.user_detail.designation%></h3>
            <%end%>
            <%=raw post_content_helper(post)%>
            <script>
              $("#expand-content<%=post.id%>").click(function(){
                      $("#flex-content<%=post.id%>").addClass("disable-content");
                      $("#full-content<%=post.id%>").removeClass("disable-content");
                      $("#full-content<%=post.id%>").addClass("enable_content");
                });
                $("#close-content<%=post.id%>").click(function(){
                      $("#flex-content<%=post.id%>").removeClass("disable-content");
                      $("#flex-content<%=post.id%>").addClass("enable_content");
                      $("#full-content<%=post.id%>").addClass("disable-content");
                      $("#full-content<%=post.id%>").removeClass("enable_content");
                });
            </script>
            <!-- Media class="col-lg-6" -->

  <%if post.post_mediums.present?%>
      <div class="slider-post" id="media">
          <ul class="slider-ul" id="lightSlider<%=post.id%>">
              <%post.post_mediums.map do |media|%>
                  <%if media.media_type.split("/")[0] == 'image'%>
                    <li class="thumb-img"data-thumb="<%=media.media.url%>">
                        <img height="20%" src="<%=media.media.url%>" />
                    </li>      
                    <%end%>
                    <%if media.media_type.split("/")[0] == 'video'%>
                      <li class="thumb-img" data-thumb="/thumb/video.jpg">
                          <video id="media<%=media.id%>" class="col-lg-12 animated fadeIn media_display" controls>
                            <source src="<%=media.media.url%>" type="<%=media.media_type%>">
                          </video>
                      </li>
                    <%end%>  
                     <%if media.media_type.split("/")[0] == 'audio'%>
                     <li class="thumb-img" data-thumb="/thumb/audio.png">
                      <audio id="media<%=media.id%>"  class="col-lg-12 animated fadeIn" controls>
                        <source src="<%=media.media.url%>" type="<%=media.media_type%>">
                        Your browser does not support the audio element.
                      </audio>
                    <%end%>              
                      

                <%end%>
          </ul>
          <style>
          .thumb-img img,.thumb-img video, .thumb-img audio {
            height: 400px !important;
            width: 100%;

          }
          .lSSlideOuter .lSPager.lSGallery img {
            display: block;
            height: 68px !important;
            max-width: 78% !important;
            }
          .slider-post{
            width:100%;
                
          }
              .slider-ul {
                background: #e9ecef;
                height: 400px !important;
                  list-style: none outside none;
                  padding-left: 0;
                  margin-bottom:0;
              }
              li {
                  display: block;
                  /* float: left; */
                  margin-right: 6px;
                  cursor:pointer;
              }
              .thumb-img img, video {
                  display: block;
                  height: auto;
                  max-width: 100%;
              }
          </style>

      </div>
  <%end%>

<!-- Media end-->
<br>
<ul class="skill-tags">
  <%post.tags.map do |tag|%>
    <li><a href="<%= post_filter_path(id: tag)%>" title=""><%= tag%></a></li>
  <%end%>
</ul>
</div>
<div class="job-status-bar">
  <ul class="like-com">
    <li>
      <%if current_user.present?%>
        <%if @current_userliked_post.include?(post.id)%>
          <a  href="javascript:void(0);" onclick="likePost('<%= post.id%>','<%= current_user.id%>')" id="like<%=post.id%>"
                        class="active"><i class="la la-heart"></i> Like</a>
          <span class="like-count" style="margin-left: 0px" id="like_count<%=post.id%>"><%=post.likes.count%></span>
        <%else%>
          <a  href="javascript:void(0);" onclick="likePost('<%= post.id%>','<%= current_user.id%>')" id="like<%=post.id%>"><i
                            class="la la-heart"></i> Like</a>
          <span class="like-count" style="margin-left: 0px" id="like_count<%=post.id%>"><%=post.likes.count%></span>
        <%end%>
      <%else%>
        <a  href="javascript:void(0);" id="like<%=post.id%>"><i class="la la-heart"></i> Like</a>
        <span class="like-count" style="margin-left: 0px" id="like_count<%=post.id%>"><%=post.likes.count%></span>
      <%end%>
    </li>
    <li onclick="openComment('<%=post.id%>')"><a  href="javascript:void(0);" title="" class="com<%=post.id%>"><img
                            src="http://gambolthemes.net/workwise_demo/HTML/images/com.png" alt="">
          Comment</a>
        <span style="margin-left: 0px;" id="cmd_count<%=post.id%>"> <%=post.comments.count%> </span>
      </li>
    </ul>
  </div>
</div>
<!--post-bar end-->
<div class="comment-section disabled-comments" id="cmd_sec<%=post.id%>">
  <%post.comments.map do |comment|%>
    <%= render comment%>
  <%end%>
  <!--comment-sec end-->
  <%if current_user.present?%>
    <div class="post-comment">
      <%# <div class="cm_img">
                
            </div> %>
      <div class="comment_box">
        <img style="height: 30px;width: 30px; border-radius: 50%;"
                    src="<%= profil_pic(current_user)%>" alt="">
        <%#= form_tag({:action => 'create', :controller => "comments"},remote: true) do %>
          <input type="text" name="comment" id="comment<%= post.id%>" value="" placeholder="Post a comment">
          <input type="hidden" name="post_id" value="<%= post.id%>">
          <button class="btn btn-submit" onclick="postComment('<%= post.id%>')" type="submit">Comment</button>
          <%#end%>
        </div>
      </div>
    <%else%>
      <div class="post-comment">
        <h2>If you want to comment here please sign in </h2>
      </div>
    <%end%>
    <!--post-comment end-->
  </div>
  <!--comment-section end-->
</div>
          <script>
                 $(document).ready(function () {
                            // setTimeout(function(){ 
                              $('#lightSlider<%=post.id%>').lightSlider({
                                gallery: true,
                                item: 1,
                                loop: true,
                                slideMargin: 0,
                                thumbItem: 5
                              });
                              // }, 3000);
                            });
                  </script>
<%post.post_mediums.map do |media|%>
                    <script>
                            $(window).scroll(function() {
                              document.getElementById("media").click();
                              $('#media<%=media.id%>').each(function(){
                                  if ($(this).is(":in-viewport( 500 )")) {
                                    $(this)[0].play();
                                    // $("#media<%=media.id%>").prop("controls",true);
                                  } else {
                                    $(this)[0].pause();
                                    // $("#media<%=media.id%>").prop("controls",false);
                                  }
                              });
                            });
                        </script>
<%end%>