<div class="main-section">
  <div class="container">
    <div class="main-section-data">
      <div class="row">
        <div class="col-lg-3 col-md-4 pd-left-none no-pd">
          <div class="main-left-sidebar no-margin">
            <% if current_user.present?%>
            <div class="user-data full-width">
              <div class="user-profile">
                <div class="username-dt">
                  <div class="usr-pic">
                    <img style="height: 100px;width: 100px" src="<%= profil_pic(current_user)%>" alt="">
                  </div>
                </div>
                <!--username-dt end-->
                <div class="user-specs">
                  <h3><%=current_user.name%></h3>
                  <span>
                    <%if current_user.user_detail.present?%>
                    <%= current_user.user_detail.designation%>
                    <%else %>
                    <p> Update Profile
                      <p>
                        <%end%>
                  </span>
                </div>
              </div>
              <!--user-profile end-->
              <ul class="user-fw-status">
                <!--  <li>
                      <h4>Following</h4>
                      <span>34</span>
                    </li>
                    <li>
                      <h4>Followers</h4>
                      <span>155</span>
                    </li-->
                <li>
                  <a href="<%= profile_path(current_user.id)%>" title="">View Profile</a>
                </li>
              </ul>
            </div>
            <%end%>
            <!--user-data end-->
            <!--div class="suggestions full-width">
                <div class="sd-title">
                  <h3>Suggestions</h3>
                  <i class="la la-ellipsis-v"></i>
                </div>
                <div class="suggestions-list">
                  <div class="suggestion-usd">
                    <img src="http://gambolthemes.net/workwise_demo/HTML/images/resources/s1.png" alt="">
                    <div class="sgt-text">
                      <h4>Jessica William</h4>
                      <span>Graphic Designer</span>
                    </div>
                    <span><i class="la la-plus"></i></span>
                  </div>
                  <div class="suggestion-usd">
                    <img src="http://gambolthemes.net/workwise_demo/HTML/images/resources/s2.png" alt="">
                    <div class="sgt-text">
                      <h4>John Doe</h4>
                      <span>PHP Developer</span>
                    </div>
                    <span><i class="la la-plus"></i></span>
                  </div>
                  <div class="suggestion-usd">
                    <img src="http://gambolthemes.net/workwise_demo/HTML/images/resources/s3.png" alt="">
                    <div class="sgt-text">
                      <h4>Poonam</h4>
                      <span>Wordpress Developer</span>
                    </div>
                    <span><i class="la la-plus"></i></span>
                  </div>
                  <div class="suggestion-usd">
                    <img src="http://gambolthemes.net/workwise_demo/HTML/images/resources/s4.png" alt="">
                    <div class="sgt-text">
                      <h4>Bill Gates</h4>
                      <span>C & C++ Developer</span>
                    </div>
                    <span><i class="la la-plus"></i></span>
                  </div>
                  <div class="suggestion-usd">
                    <img src="http://gambolthemes.net/workwise_demo/HTML/images/resources/s5.png" alt="">
                    <div class="sgt-text">
                      <h4>Jessica William</h4>
                      <span>Graphic Designer</span>
                    </div>
                    <span><i class="la la-plus"></i></span>
                  </div>
                  <div class="suggestion-usd">
                    <img src="http://gambolthemes.net/workwise_demo/HTML/images/resources/s6.png" alt="">
                    <div class="sgt-text">
                      <h4>John Doe</h4>
                      <span>PHP Developer</span>
                    </div>
                    <span><i class="la la-plus"></i></span>
                  </div>
                  <div class="view-more">
                    <a  title="">View More</a>
                  </div>
                </div>
              </div-->
            <!--suggestions end-->
            <!--tags-sec end-->
          </div>
          <!--main-left-sidebar end-->
        </div>
        <div class="col-lg-6 col-md-8 no-pd">
          <div class="main-ws-sec">
            <%if current_user.present? %>
            <div class="post-topbar">
              <!--div class="user-picy">
                        <img style="height: 50px;width: 50px; border-radius: 50%;"
                    src="<%#= profil_pic(current_user)%>" alt="">
                      </div>
                      <div class="post-st">
                        <ul>
                          <li><a class="post_project active" title="">Post </a></li>
                          
                        </ul>
                      </div-->
              <div class="post-project">
                
                <div class="post-project-fields">
                  <%#= form_tag({:action => 'create'},remote: true, :id => "post_form", multipart: true) do %>
                  <div class="row form">
                    <div class="col-lg-12">
                      <textarea id="content" name="content" placeholder="Type your Query here" required></textarea>
                    </div>
                    <div class="col-lg-12">
                    <label>Enter your Tags</label>
                      <input id="tags" type="text" class="form-control" name="tags" placeholder="html,css,js" />
                    </div>
                    <div class="col-lg-12">
                    <div class="row">
                        
                        <input id="location" type="text" class="col-lg-8 form-control" name="location" disabled placeholder="Click left button" />
                          <a class="col-lg-4 location btn btn-success" onclick="getLocation()">Get Location</a>
                        </div>
                    </div>
                    <br>
                    <div class="col-lg-12">
                    <div class="tab-feed">  
                        <ul>
                          <li data-tab="feed-dd" class="active">
                            <a onclick="uploadFile('image')" title="">
                              <img class="upload_icon" src="img/image_icon.png" alt="">
                              <span>Image</span>
                            </a>
                          </li>
                          <li data-tab="info-dd">
                            <a onclick="uploadFile('video')" title="">
                              <img class="upload_icon" src="img/video_icon.png" alt="">
                              <span>Video</span>
                            </a>
                          </li>
                          <li data-tab="portfolio-dd">
                            <a onclick="uploadFile('audio')" title="">
                              <img class="upload_icon" src="img/audio_icon.png" alt="">
                              <span>Audio</span>
                            </a>
                          </li>
                        </ul>
                      </div>
                      <style>
                      .upload_icon{
                        height: 50px;
                        width: 50px;
                      }
                      </style>
                        <div style="display: none">
                          <%= file_field_tag "medias", {:onchange => "readURL(this);",:multiple => true,:accept => 'image/*',class:"form-control", id: "image_upload" } %>
                          <%= file_field_tag "medias",{:onchange => "readURL(this);",:multiple => true,class:"form-control", id: "video_upload", :accept => 'video/*'  } %>
                          <%= file_field_tag "medias", {:onchange => "readURL(this);",:multiple => true,class:"form-control", id: "audio_upload",:accept => 'audio/*' } %>
                        </div>
                    </div>
                    <div class="col-lg-12">
                      <div class="row">
                        <%# <img id="" class="col-lg-6 disable_media_vid animated fadeIn" alt="your image" />
                      <video class="col-lg-6 disable_media_vid animated fadeIn" controls id="vid_prev">
                        <source src="#" type="video/mp4">
                      </video>
                      <audio  id="aud_prev" class="col-lg-6 disable_media animated fadeIn" controls>
                        <source>
                        Your browser does not support the audio element.
                      </audio>
                      <br> %>
                        <div style="display: none" class="galary col-lg-12 row">
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-12">
                      <ul>
                        <li><button class="active" onclick="post()">Post</button></li>
                        <!-- <li><a  title="">Cancel</a></li> -->
                      </ul>
                    </div>
                  </div>
                  <%# end %>
                </div>
                <!--post-project-fields end-->
                <a title=""><i class="la la-times-circle-o"></i></a>
              </div>
              <!--post-st end-->
            </div>
            <% end %>
            <!--post-topbar end-->
            <div class="posts-section">
              <%= render @posts %>
              <%= will_paginate @posts %>
<%#= will_paginate @posts, renderer: @custom_renderer %>

              <!--posty end-->
              <!--process-comm end-->
            </div>
            <div class="top-profiles">
              <div class="pf-hd">
                <h3>Top Profiles</h3>
                <i class="la la-ellipsis-v"></i>
              </div>
              <div class="profiles-slider">
                <%@users.map do |user|%>
                <div class="user-profy">
                  <img style="height: 50px;width: 50px; border-radius: 50px" src="<%= profil_pic(user)%>" alt="">
                  <h3><%=user.name%></h3>
                  <span>
                    <%if user.user_detail.present?%>
                    <%=user.user_detail.designation%>
                    <%end%>
                  </span>
                  <a href="<%= profile_path(user.id)%>" title="">View Profile</a>
                </div>
                <%end%>
              </div>
            </div>
            <!--top-profiles end-->
          </div>
          <!--main-ws-sec end-->
        </div>
        <div class="col-lg-3 pd-right-none no-pd">
          <div class="right-sidebar">
            <% unless current_user.present?%>
            <div class="widget widget-about">
              <img src="http://gambolthemes.net/workwise_demo/HTML/images/wd-logo.png" alt="">
              <h3>Join our Community</h3>
              <span>post and comment your Queries</span>
              <div class="sign_link">
                <h3><a href="<%= signup_path%>" title="">Sign up</a></h3>
                |
                <h3><a href="<%= login_path%>" title="">Sign In</a></h3>
              </div>
            </div>
            <%end%>
            <!--widget-about end-->
            <!--div class="widget suggestions full-width">
                <div class="sd-title">
                  <h3>Most Viewed People</h3>
                  <i class="la la-ellipsis-v"></i>
                </div>
                <div class="suggestions-list">
                  <div class="suggestion-usd">
                    <img src="http://gambolthemes.net/workwise_demo/HTML/images/resources/s1.png" alt="">
                    <div class="sgt-text">
                      <h4>Jessica William</h4>
                      <span>Graphic Designer</span>
                    </div>
                    <span><i class="la la-plus"></i></span>
                  </div>
                  <div class="suggestion-usd">
                    <img src="http://gambolthemes.net/workwise_demo/HTML/images/resources/s2.png" alt="">
                    <div class="sgt-text">
                      <h4>John Doe</h4>
                      <span>PHP Developer</span>
                    </div>
                    <span><i class="la la-plus"></i></span>
                  </div>
                  <div class="suggestion-usd">
                    <img src="http://gambolthemes.net/workwise_demo/HTML/images/resources/s3.png" alt="">
                    <div class="sgt-text">
                      <h4>Poonam</h4>
                      <span>Wordpress Developer</span>
                    </div>
                    <span><i class="la la-plus"></i></span>
                  </div>
                  <div class="suggestion-usd">
                    <img src="http://gambolthemes.net/workwise_demo/HTML/images/resources/s4.png" alt="">
                    <div class="sgt-text">
                      <h4>Bill Gates</h4>
                      <span>C &amp; C++ Developer</span>
                    </div>
                    <span><i class="la la-plus"></i></span>
                  </div>
                  <div class="suggestion-usd">
                    <img src="http://gambolthemes.net/workwise_demo/HTML/images/resources/s5.png" alt="">
                    <div class="sgt-text">
                      <h4>Jessica William</h4>
                      <span>Graphic Designer</span>
                    </div>
                    <span><i class="la la-plus"></i></span>
                  </div>
                  <div class="suggestion-usd">
                    <img src="http://gambolthemes.net/workwise_demo/HTML/images/resources/s6.png" alt="">
                    <div class="sgt-text">
                      <h4>John Doe</h4>
                      <span>PHP Developer</span>
                    </div>
                    <span><i class="la la-plus"></i></span>
                  </div>
                  <div class="view-more">
                    <a  title="">View More</a>
                  </div>
                </div>
              </div-->
          </div>
          <!--right-sidebar end-->
        </div>
      </div>
    </div>
    <!-- main-section-data end-->
  </div>
</div>
<div class="post-popup pst-pj">
  <!--post-project end-->
</div>
<!--post-project-popup end-->